---
title: Test
layout: layout
---

{% block body %}
    <main class="container py-16">
        <div class="prose max-w-none">
            <h1>Welcome to the Custom Route!</h1>
            <p>This is some introductory text.</p>
        </div>
        <img src="/assets/teaDecor.jpg" alt="Full Page Image">
        <div class="prose max-w-none">
            <p>Here's some more text after the full-page image.</p>
        </div>
    </main>
{% endblock %}