{% set title = 'Home' %}
{% extends "_includes/layout.twig" %}

{% block body %}
	<main class="container py-16">
		<div class="prose max-w-none">
			<h1>Welcome to the Tea Shop!</h1>
		</div>
	</main>
{% endblock %}
